body{
	margin: 0;
    padding: 0;
	top:8px;
    background: url(pic1.jpg) repeat-x;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
	width: 1200px;
	margin: 0 auto;
	padding:0px;
}
.header ul{
	cursor: pointer;
	list-style:none;
}
.header ul li{
	background:transparent;
	color:blue;
	width:120px;
	border: 1px solid red;
	height:30px;
	line-height:30px;
	text-align:center;
	float:right;
	font-size:18px;
	border-radius:20px;
	position:relative;
}
.header ul li:hover{
	color:black;
	background:white;
}
.header ul ul
{	
	display:none;
}
.header ul li:hover > ul{
	width:82px;
	color:black;
	display:block;
}
.header ul ul ul{
	top:0px;
	margin-left:122px;
	position:absolute;
}
.header input[type="search"]{
	float:right;
	width:280px;
	border:none;
    border-bottom: 2px solid red;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 14px;
	list-style:none;
	border-radius:20px;
}
.header:hover
{
	line-height:20px;
    cursor: pointer;
	text-decoration: none;
}

ul ul ul a {
	width:100px;
	height:30px;
	border-radius:20px;
	color:black;
}
ul ul ul:hover > li a{
	border: none;
    outline: none;
	color:black;
}